{% extends 'base.html' %}

{% block title %}
    Contacts list
{% endblock title %}
{% block content %}
    <a href="{% url 'contact-create' %}">Create contact</a>
<table>
      <tr>
        <th>ID</th>
        <th>Mail</th>
        <th>Subject</th>
      </tr>
{% for contactus in contactus_list %}
      <tr>
        <td>{{ contactus.id }}</td>
        <td>{{ contactus.email_from }}</td>
        <td>{{ contactus.subject }}</td>
          <td><a href="{% url 'contact-update' contactus.id %}">Edit</a></td>
          <td><a href="{% url 'contact-delete' contactus.id %}">Delete</a></td>
          <td><a href="{% url 'contact-retrieve' contactus.id %}">Info</a></td>
        <br>
      </tr>
{% endfor %}
</table>

{% endblock content %}