{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Contacts list
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <form method="get">
                {{ filter.form|crispy }}
                <input type="submit" class="btn btn-primary" value="Submit"/>
            </form>
        </div>
    </div>

    <a href="{% url 'contact-create' %}">Create contact</a><br>

    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Mail</th>
                <th scope="col">Subject</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for contactus in page_obj %}
                <tr>
                    <th scope="row">{{ contactus.id }}</th>
                    <td>{{ contactus.email_from }}</td>
                    <td>{{ contactus.subject }}</td>
                    <td>

                        <div class="dropdown">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                               aria-expanded="false">
                                Actions
                            </a>

                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'contact-update' contactus.id %}">Edit</a>
                                <a class="dropdown-item" href="{% url 'contact-delete' contactus.id %}">Delete</a>
                                <a class="dropdown-item" href="{% url 'contact-retrieve' contactus.id %}">Info</a>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-12">
            {% include 'includes/pagination.html' %}
        </div>
    </div>

{% endblock content %}
