{% extends 'base.html' %}

{% block title %}
    Contact info
{% endblock title %}

{% block content %}

    <table>
        <tr>
            <th>ID</th>
            <th>Mail</th>
            <th>Subject</th>
            <th>Message</th>
            <th>Body</th>
            <th>Name</th>
        </tr>
        <tr>
            <td>{{ contactus.id }}</td>
            <td>{{ contactus.email_from }}</td>
            <td>{{ contactus.subject }}</td>
            <td>{{ contactus.message }}</td>
            <td>{{ contactus.body }}</td>
            <td>{{ contactus.name }}</td>
        </tr>
    </table>

{% endblock content %}