<footer class="footer mt-auto py-3 wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>Контактна інформація</h5>
                <p>Phone: +1 (123) 456-7890</p>
                <p>Email: info@example.com</p>
            </div>
            <div class="col-md-6">
                <h5>Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Home page</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contacts</a></li>
                </ul>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <p class="text-muted">© 2023 Currency application.</p>
            </div>
        </div>
    </div>
    <style type="text/css">
        html, body {
            min-height: 100%;
            padding: 0;
            margin: 0;
        }

        .wrapper {
            display: flex;
            flex-direction: column;
            min-height: 100%;
        }

        .footer {
            flex: 0 0 auto;
        }
    </style>
</footer>