{% extends 'base.html' %}

{% block title %}
    Rates list
{% endblock title %}
{% block content %}
        <a href="/rate_create/">Create rate</a>

<table>
      <tr>
        <th>ID</th>
        <th>Buy</th>
        <th>Sell</th>
        <th>Created</th>
      </tr>
{% for rate in rates %}

      <tr>
        <td>{{ rate.id }}</td>
        <td>{{ rate.buy }}</td>
        <td>{{ rate.sell }}</td>
        <td>{{ rate.created }}</td>
          <td><a href="/rate_update/{{ rate.id }}/">Edit</a></td>
          <td><a href="/rate_delete/{{ rate.id }}/">Delete</a></td>
          <td><a href="/rate_retrieve/{{ rate.id }}/">Info</a></td>
        <br>
      </tr>
{% endfor %}
    </table>

{% endblock content %}


