{% extends 'base.html' %}

{% block title %}
    Source info
{% endblock title %}

{% block content %}

    <table>
        <tr>
            <th>ID</th>
            <th>URL</th>
            <th>Name</th>
            <th>Logo</th>

        </tr>
        <tr>
            <td>{{ source.id }}</td>
            <td>{{ source.source_url }}</td>
            <td>{{ source.name }}</td>
            <td><img style="height: 100px; width: 300px" src="{{ source.logo_url }}" alt="logo"></td>
        </tr>
    </table>

{% endblock content %}