{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Sources list
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <form method="get">
                {{ filter.form|crispy }}
                <input type="submit" class="btn btn-primary" value="Submit"/>
            </form>
        </div>
    </div>

    <a href="{% url 'source-create' %}">Create source</a><br>


    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Logo</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for source in page_obj %}
                <tr>
                    <th scope="row">{{ source.id }}</th>
                    <td>{{ source.name }}</td>
                    <td><img style="height: 80px; width: 200px" src="{{ source.logo_url }}" alt="logo"></td>

                    <td>

                        <div class="dropdown">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                               aria-expanded="false">
                                Actions
                            </a>

                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'source-update' source.id %}">Edit</a>
                                <a class="dropdown-item" href="{% url 'source-delete' source.id %}">Delete</a>
                                <a class="dropdown-item" href="{% url 'source-retrieve' source.id %}">Info</a>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-12">
            {% include 'includes/pagination.html' %}
        </div>
    </div>

{% endblock content %}